* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3f3f3;
}

.main {
    width: 100%;
    
}

.section {
    display: block;
    width: 450px;
    margin: 20px auto;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    
}

.form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    margin: auto;
    background: #f3f3f3;
    padding: 10px;
    border: solid 1px #f5f5f5;
    border-radius: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
    background-color: #2b7cff;
    color:#fff;
    border: none;
    cursor: pointer;
}

button :hover {

    background-color: #161515;

}
