 /*stylo general*/
 
 
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 body {
     margin: auto;
     width: 40%;
     border: 2px solid blue;
     color: red;
     letter-spacing: 5px;
 }

 /* h1 hereda el borde del body */
 h1 {
     color: green;
     border: inherit;
     margin: 30px 0;
     padding: 10px;
}
 

 /* mostramos el color inicial y centra el texto */
 p {
     color: initial;
     text-align: center;
     font-size: 20px;
     margin-top: 15px;
     margin-bottom: 15px;
 }
