* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    background-color: #f4f4f4;
    margin: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.contenedor {

   display: flex;
   gap: 1rem;
   flex-direction: column;
    background: #fff;
    width: 900px;
    border-radius: 2rem;
    margin: 2rem;
}
.logo{
    margin: 1rem;
}
.logo__isotipo  {
    font-size: 2rem;
    font-weight: bold;
    background-color:rgb(10, 120, 189);
    float: left;
    color: white;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
.logo__titulo{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.logo__texto{
    font-size: 0.6rem;
}

.menu {
    display: flex;
    gap: 1.5rem;
    

}
.menu__titulo{
    font-size: 1.5rem;
    margin-bottom: 1rem;
   
}
.menu__gestion {
    border: solid 1px #f2f2f2;
    background-color: #f9f9f9;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    width: 250px;
}

.btn  {
    color: white;
    background-color: rgb(10, 120, 189);
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
}
.pie {
    float: right;
    margin: 1rem;
}

input, select {
    padding: 0.3rem;
    border: #f2f2f2 solid 1px;
    border-radius: 0.2rem;
}


