body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e5e5e5;
}

input {
    padding: 5px;
    border: solid 1px #cccccc;
    display: block;
    margin: 10px 0px;
    width: 100%;
}

.contenedor {
    padding: 20px;
    margin: auto;
    width: 400px;
    background: #fff;
    border: solid 1px #333;
}

.error {
    color: #d2030d;
    background: #faf7c7;
    border: 1px solid #d2030d;
    padding: 10px;
}

button {
    padding:  5px;
    float: right;
    background-color: #fc6907;
    display: block;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    
}

.tabla {
    display: flex;
}

.cabecera {
    flex-direction:column;
    display: flex;
}